@media screen and (min-width:769px) {
  .landingPage_Button {
    margin: 20px 10px;
    margin-bottom: 40px;
  }

  .landingPage_Button .landing_startButton {
    font-size: 18px;
    font-family: system-ui;
    font-weight: 600;
    border-radius: 24px;
    text-transform: none;
    margin-right: 25px;
    padding: 8px 22px;
    background-color: #2835C0 !important;
  }

  .landingPage_Button .landing_googleAuth {
    font-size: 18px;
    font-family: system-ui;
    font-weight: 600;
    border-radius: 24px;
    text-transform: none;
    margin-right: 25px;
    padding: 8px 22px;
    background-color: #ffffff !important;
    color: #00000089;
  }
}

@media screen and (max-width:769px) {
  .landingPage_Button {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    margin-bottom: 40px;
  }

  .landingPage_Button .landing_startButton {
    font-size: 14px;
    font-family: system-ui;
    font-weight: 500;
    border-radius: 24px;
    text-transform: none;
    margin-bottom: 25px;
    background-color: #2835C0 !important;
  }

  .landingPage_Button .landing_googleAuth {
    font-size: 14px;
    font-family: system-ui;
    font-weight: 500;
    border-radius: 24px;
    text-transform: none;
    background-color: #ffffff !important;
    color: #00000089;
  }
}